body{
    padding-top: 5rem;
}

*{
	-webkit-box-sizing: border-box;
    box-sizing: border-box;
}


.head{
	margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    width: 40%;
    line-height: 80%;
}
  
img{
    filter: drop-shadow(2px 4px 2px #58fc1c);
    background: white;
    border-radius: 20px;
    font-size: 25px;
    text-align: center;
    margin-right: 10px;
    border-radius:50%;
    display:inline-block;
    padding:10px;
}

#profi{
    padding-top:25px;
    padding-bottom: 10px;
    border-top-left-radius:3%;
    border-top-right-radius: 3%;
    color: white;
    text-shadow: 2px 2px #4ae810;
    width: 50%;
    height: 25%;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: rgb(108, 252, 56);
    background: radial-gradient(circle, rgba(108,252,56,1) 0%, rgba(119,255,70,1) 27%, rgba(83,204,39,1) 77%);
  }

.about{
    margin-bottom: 25px;
    text-align: justify;
}

.base{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
  
#profi1 {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
	border-bottom-left-radius:3%;
    border-bottom-right-radius: 3%;
    width: 50%;
    height: 25%;
    color: #ababab;
	padding-top:15px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 35px;
    text-align: center;
    background-color:white;
}

.result{
    margin-top: 30px;
}

.button{
    background-color: #5373ff;
    border-radius: 6px;
    font-weight: 500;
    border: none;
    color: white;
    padding: 8px 50px;
    text-align: center;
    font-size: 16px;
    width: 35%;
    margin-top: 40px;
    margin: auto;
}

.button:active {
  background-color: #5373ff;
  box-shadow: 0 5px #626;
  transform: translateY(4px);
}

.button:focus {
    outline: 0;
}
  
table{
    margin-left:auto; 
    margin-right:auto;
    width: 70%;
    text-align: center;
}


th{
    font-size: 18px;
    color: #454540;
} 